.btn-group {
  margin-left: 40px;

}

.btn-info img {
  display: none;
}

.nav li {
  font-size: 18px;
  text-align: center;
}

#landing-logo {
  width: 90vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: black;
}

body {
  background-color: black;
}

.navbar-brand {
  color: #FFE81F;
}

.modal-content {
  background-color: black;
  border-color: #ffe81f;
  width: 80vw;
  display: block;
  margin: 0 auto;
}

#name, #born, #species, #films, #homeworld, #residents, h4{
  color: #31B0D5;
  text-shadow: 0 0 3em #1d99f7, 0 0 0.2em #1d99f7,
        0 0 0.2em #1d99f7;
}

.loading img {
  width: 100px;
  height: auto;
  margin-left: 50px;
}

.character-avatar img {
  width: auto;
  max-height: 200px;
  display: block;
  margin: 5px auto;
}

.list-group {
  font-size: 20px;
  max-height: 100vh;
  max-width: 500px;
  overflow-y: scroll;
  width: 90vw;
}

.btn-info {
  background: black;
  text-shadow: 0 0 0.2em #1d99f7, 0 0 0.2em #1d99f7,
        0 0 0.2em #1d99f7;
}

#landing-button {
  background: black;
  text-shadow: 0 0 0.2em #1d99f7, 0 0 0.2em #1d99f7,
        0 0 0.2em #1d99f7;
}

/*small devices*/
@media (min-width: 768px) {
  #landing-logo {
    width: 75vw;
  }

  .nav li {
    font-size: 18px;
    text-align: left;
  }

 }

 /*meidum devices / desktops*/
 @media (min-width: 992px) {
   #landing-logo {
     width: 50vw;
   }
  }
