.btn-group {
  margin-left: 40px;
}

#landing-logo {
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: black;
}

body {
  background-color: black;
}

.navbar-brand {
  color: #FFE81F;
}

#name {
  text-shadow: 0 0 0.2em #1d99f7, 0 0 0.2em #1d99f7,
        0 0 0.2em #1d99f7
}

.list-group {
  font-size: 20px;
  max-height: 500px;
  max-width: 500px;
  /*position: absolute;*/
  overflow-y: scroll;
  display: block;
  margin: 0 auto;
  width: 90vw;
}

.btn-info {
  background: black;
  text-shadow: 0 0 0.2em #1d99f7, 0 0 0.2em #1d99f7,
        0 0 0.2em #1d99f7;
}


@media (min-width: @screen-sm-min) {

 }

@media (min-width: @screen-md-min) {

}
