

#viewport {
  -webkit-perspective:100px;
  -webkit-perspective-origin:50% -100%;
  border: 2px solid black;
  height: 300px;
  width: 400px;
  left: 50%;
  margin-left:-200px;
  position:fixed;
}

.box {
  position: absolute;
  padding: 5px;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:-50px;
  color: #FFE81F;
  text-align: center;
  font-size: 14px;
  border: 2px solid yellow;
  border-radius: 5px;
  max-width: 50%;
  background-color: black;

}

.a {
  margin-right: 210px;
}

.b {
  margin-left: 10px;
}

.year {
  color: white;
  border: none;
  color: #31B0D5;
  text-shadow: 0 0 3em #1d99f7, 0 0 0.2em #1d99f7,
        0 0 0.2em #1d99f7;
  margin-left: -22px;
}

.image-logo {
  border: none;
  display: inline-block;
  margin-left: -160px;
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 6px;
}

.image-logo img{
  text-align: center;
  justify-content: center;
  max-height: 200px;
}

.timeline-pic {
  margin-left: 25px;
}


p {
  padding: 10px;
}


.verticalLine {
  border-left: 2px solid #1d99f7;
  height: 150%;
  position: fixed;
  z-index: -1000;
  margin-left: 50%;
  -webkit-box-shadow:0 0 30px #1d99f7;
  -moz-box-shadow: 0 0 30px #1d99f7;
  box-shadow:0 0 30px #1d99f7;
  opacity: .75;

}
